    <section class="service">
        <div class="form-service">

            <div class="box-voltar">
                <a href=""><img src="~/images/icon-voltar.svg" class="icon-back"></a>
                <img src="~/images/geladeira.svg" class="icon-service icon-geladeira">
                <div class="title-service">
                    <p>Envelopamento em Geladeiras</p>
                    <p>Orçamento</p>
                </div>
            </div>

            <div class="all-form">
                <div class="form-left-service">
                    <div class="form-item-service">
                        <label>Selecione a marca</label><br>
                        <select class="appearance-select form-select">
                            <option>&nbsp;</option>
                            <option>Selecione</option>
                            <option>Primeira opção</option>
                            <option>Segunda opção</option>
                            <option>Terceira opção</option>
                            <option>Quarta opção</option>
                        </select>
                    </div>
                    <div class="form-item-service">
                        <label>Selecione a o modelo</label><br>
                        <select class="appearance-select form-select">
                            <option>&nbsp;</option>
                            <option>Selecione</option>
                            <option>Primeira opção</option>
                            <option>Segunda opção</option>
                            <option>Terceira opção</option>
                            <option>Quarta opção</option>
                        </select>
                    </div>                    
                    <div class="form-item-service">
                        <label>Quantidade</label><br>
                        <select class="appearance-select form-select">
                            <option>&nbsp;</option>
                            <option>Selecione</option>
                            <option>Primeira opção</option>
                            <option>Segunda opção</option>
                            <option>Terceira opção</option>
                            <option>Quarta opção</option>
                        </select>
                    </div>
                    <div class="valor-unitario">
                        <p>Valor Unitário</p>
                        <p>R$ <span>200,00</span></p>
                    </div>

                </div>
                <div class="form-center-service">
                    <img src="~/images/no-image.png">
                </div>
                <div class="form-right-service">
                    <div class="content-right-form">
                        <p>Possui um código promocional?</p>
                        <div class="codigo-desconto">
                            <input type="text">
                            <img src="~/images/icon-round-check.svg">
                        </div>
                        <p class="resumo-title">Resumo do pedido</p>
                        <table class="table-total">
                            <tr>
                                <th>Valor (01 un.)</th>
                                <td>R$ 200,00</td>
                            </tr>
                            <tr>
                                <th>Descontos</th>
                                <td class="total-descontos">R$ 150,00</td>
                            </tr>
                            <tr>
                                <th>Valor total</th>
                                <td class="total-resultado">R$ 1.150,00</td>
                            </tr>
                        </table>
                    </div>
                    <a href="servico-veiculo02.html"><button>Continuar <img src="~/images/icon-continuar.svg"></button></a>
                </div>
            </div>
        </div>

    </section>