    <div class="banner-home">
        <div class="content-banner" id="section-top">
            <h1 class="title-home">Precisando aplicar<br> adesivos?</h1>
            <div class="title-contrate">
                <p>Somos especialistas!</p>
            </div>
            <p class="banner-frase">É simples. É rápido. É sério.</p>
            <div class="learn-more">
                <div class="box-banner">
                    <p>Você é um aplicador? Receba diversas oportunidades de trabalho. Cadastre-se agora.</p>
                </div>
                <a href="#section-1" id="scrollSuave">
                    <img src="~/images/down.svg">
                </a>
            </div>
        </div>
    </div>
    <section class="section-1">
        <div class="content-section-1">
            <h1 class="all-titles">Conectamos você com o
                aplicador ideal para o seu projeto</h1>
            <img src="~/images/processo.png">
            <p>Simples assim. Todos os profissionais cadastrados na nossa
                plataforma são verificados e qualificados.</p>
            <button>Quero contratar</button>
        </div>
    </section>
    <section class="section-2">
        <h1 class="all-titles">Por que contratar pelo O Aplicador?</h1>
        <div class="boxes-home">
            <div class="box-item">
                <img src="~/images/agilidade.png">
                <h2>Agilidade</h2>
                <p>Nós temos diversos profissionais especializados em aplicação de adesivos à sua disposição,
                    cadastrados em nossa plataforma, prontos para atender sua demanda.</p>
                <a href="">Crie uma conta</a>
            </div>
            <div class="box-item">
                <img src="~/images/experts.png">
                <h2>Experts no assunto</h2>
                <p>Usamos a inteligência artificial para encontrar o profissional ideal para atender o serviço que você
                    contratou. Antes do encerramento do job, você poderá avaliá-lo.</p>
                <a href="">Escolha o serviço</a>
            </div>
            <div class="box-item">
                <img src="~/images/conexao.png">
                <h2>Conexão perfeita</h2>
                <p>Tanto o contratado quanto o contratante tem segurança na negociação. Os termos de uso do sistema
                    garantem isso.</p>
                <a href="">Veja como funciona</a>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="numbers-home">
            <div>
                <p>1090</p>
                <p>Empresas parceiras</p>
            </div>
            <div>
                <p>3190</p>
                <p>Aplicadores cadastrados</p>
            </div>
            <div>
                <p>1190</p>
                <p>Projetos realizados</p>
            </div>
        </div>
    </section>
    <section class="section-4">
        <h1 class="all-titles">O que diz quem já contratou os serviços na plataforma O Aplicador</h1>
        <div class="carousel">
			<div>
                <img src="~/images/Rodrigo_Santiago.png"">
                <p class=" description-client">"Arrojado e inovador, a plataforma O Aplicador chegou para atender todo o nosso mercado de autoadesivo, principalmente no 
				quesito prestação de serviços de mão-de-obra qualificada e especializada. Parabéns pela iniciativa e pioneirismo"</p>
                <p class="name-client">Rodrigo Santiago</p>
                <p class="last-client">Especialista de Produtos</p>
            </div>
            <div>
                <img src="~/images/Gabriel_Benitez.png">
                <p class="description-client">"Fiz o curso com o Diomedes e aprendi muito com ele, passei a trabalhar com o sistema O Aplicador e sempre obtivemos muito sucesso nas instalações. 
				O Material vem sempre correto e o mapa das instalções sem 100%! Com certeza o sistema é uma inovação que está dando muito certo na área da comunicação visual!"</p>
                <p class="name-client">Gabriel Benitez</p>
                <p class="last-client">Florianópolis</p>
            </div>
            <div>
                <img src="~/images/Leonardo_Mariani.png">
                <p class="description-client">"O sistema O Aplicador é uma ferramenta muito útil no dia a dia de quem trabalha com qualquer tipo de aplicação de adesivos, 
				é um suporte para aquelas horas em que temos dúvidas ou dificuldades, eu mesmo utilizo muito e recomendo para todos os amigos aplicadores."</p>
                <p class="name-client">Leonardo Mariani</p>
                <p class="last-client">Chapecó-SC</p>
            </div>
			<div>
                <img src="~/images/Rodrigo_Nogueira.png">
                <p class="description-client">"Time organizado, pontuais e com excelentes trabalhos. Além de tudo você sempre é indicado para os trabalhos que é capaz de realizar."</p>
                <p class="name-client">Rodrigo Nogueira</p>
                <p class="last-client">Colombo-PR</p>
            </div>
        </div>
    </section>
    <section class="section-5" id="section-1">
        <h1 class="all-titles">Você é um aplicador?</h1>
        <h2>Inscreva-se agora e trabalhe para diversas empresas</h2>
        <button>Cadastrar meus serviços</button>
    </section>

    <div class="social-icons-top">
        <a href="https://www.facebook.com/oaplicadorconsultoria/" target="_blank"><img
                src="~/images/facebook.png"></a><br>
        <a href=""><img src="~/images/twitter.png"></a><br>
        <a href=""><img src="~/images/instagram.png"></a><br>
        <a href=""><img src="~/images/linkedin.png"></a><br>
        <a href="https://www.youtube.com/user/diowcwb" target="_blank"><img src="~/images/youtube.png"></a><br>
        <a href="contato@oaplicador.com.br"><img src="~/images/email.png"></a>
    </div>

