    <div id="section-deslize"></div>
    <div class="all-menu">
        <div class="content-top">
            <a href="index.html">
                <div class="content-logo">
                    <img src="images/oaplicador-logo.svg" class="logo">
                    <p>A maior plataforma de aplicadores de adesivos do Brasil</p>
                </div>
            </a>
            <nav id="menu-responsivo">
                <a href="#" class="slide-menu-open"><img src="images/menu.svg"></a>
                <div class="side-menu-overlay"></div>
                <div class="side-menu-wrapper">
                    <a href="#" class="menu-close">&times;</a>
                    <div>
                        <a href="#">Como funciona</a><br>
                        <a href="#">Meus projetos</a><br>
                        <a href="#">Trabalhos disponíveis</a><br>
                        <a href="#">Login</a><br>
                        <a href="#" class="Busca">BUSCAR</a><br>
                        <a href="#">-</a><br>
                        <a href="#">Sobre</a><br>
                        <a href="#">Cursos</a><br>
                        <a href="#">Blog</a><br>
                        <a href="#">Empresas parceiras</a><br>
                        <a href="#">Fale com o aplicador</a><br>
                    </div>
                </div>
            </nav>
            <nav id="menu-desktop" class="menu">
                <a href="#">Como funciona</a><br>
                <a href="#">Meus projetos</a><br>
                <a href="#">Trabalhos disponíveis</a><br>
                <a href="#" class="menu-login">Login</a><br>
                <a id="Busca" onclick="showSearch();"><img id="imgBusca" src="images/search.svg"
                        class="buscar-icon"></a>
                <a href="#"><img id="imgBusca" src="images/whatsapp-icon.svg" class="whatsapp-icon"></a>
                <a id="Busca" onclick="showMenu();"><img id="imgBusca" src="images/menu.svg" class="buscar-icon"></a>
            </nav>
        </div>

        <div class="backgroundMenu"></div>

        <div id="box-search" class="overlay">
            <div class="content-overlay">
                <a class="closebtn" onclick="hideSearch()">&times;</a>
                <div class="content-search">
                    <input type="text" class="input-search" placeholder="BUSCAR">
                </div>
                <p class="legend-search">Escreva e pressione enter para iniciar sua pesquisa</p>
            </div>
        </div>
        <div id="box-menu" class="overlay sub-menu">
            <div class="content-sub-menu">
                <ul>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Cursos</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Empresas parceiras</a></li>
                    <li><a href="">Fale com o aplicador</a></li>
                    <a onclick="hideMenu()" class="btn-close-menu">&times;</a>
                </ul>
            </div>
        </div>
    </div>

    <section class="service">
        <div class="meus-projetos">
            <div class="title-subpaginas">
                <div>
                    <img src="images/projetos.svg">
                    <p>Meus Projetos</p>
                </div>
            </div>
            <div class="content-projetos">
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/parede.png""></div>
                    <div class=" status-projeto">
                        <p>Aplicação de adesivo em parede</p>
                        <div>
                            <div class="status-bullet status-execucao"></div>
                            <p>Status: <span>Em execução</span></p>
                        </div>
                    </div>
                    <p class="data-projeto">Data prevista: <span>15/06/2019</span></p>
                    <a href="">Ver detalhes</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/piso.png""></div>
                        <div class=" status-projeto">
                        <p>Aplicação de adesivo em pisos</p>
                        <div>
                            <div class="status-bullet status-finalizado"></div>
                            <p>Status: <span>Em execução</span></p>
                        </div>
                    </div>
                    <p class="data-projeto">Data prevista: <span>15/06/2019</span></p>
                    <a href="">Ver detalhes</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/piso.png""></div>
                            <div class=" status-projeto">
                        <p>Aplicação de adesivo em pisos</p>
                        <div>
                            <div class="status-bullet status-finalizado"></div>
                            <p>Status: <span>Em execução</span></p>
                        </div>
                    </div>
                    <p class="data-projeto">Data prevista: <span>15/06/2019</span></p>
                    <a href="">Ver detalhes</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/piso.png""></div>
                                <div class=" status-projeto">
                        <p>Aplicação de adesivo em pisos</p>
                        <div>
                            <div class="status-bullet status-finalizado"></div>
                            <p>Status: <span>Em execução</span></p>
                        </div>
                    </div>
                    <p class="data-projeto">Data prevista: <span>15/06/2019</span></p>
                    <a href="">Ver detalhes</a>
                </div>
            </div>

        </div>
    </section>