    <section class="service">
        <div class="projetos-disponiveis">
            <div class="title-subpaginas">
                <div>
                    <img src="images/choices.svg">
                    <p class="title-blue">Projetos disponíveis</p>
                </div>
            </div>
            <div class="projetos-content">

                <div class="box-projetos">

                    <div class="top-box-projetos">
                        <div class="projetos-title">
                            <img src="images/parede.png">
                            <p>Aplicação de adesivo em parede</p>
                        </div>

                        <div class="status-disponiveis">
                            <div>
                                <div class="status-bullet status-execucao"></div>
                                <div>
                                    <p>Status: <span>Disponível para execução</span></p>
                                </div>
                            </div>
                            <p class="data-prevista">Data prevista: <span>15/06/2019</span></p>
                        </div>
                    </div>

                    <table class="table-projetos">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Ocorrência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15/04/2019 13:00</td>
                                <td>Cliente não atende telefone</td>
                            </tr>
                            <tr>
                                <td>15/04/2019 13:00</td>
                                <td>Cliente não atende telefone</td>
                            </tr>
                            <tr>
                                <td>15/04/2019 13:00</td>
                                <td>Cliente não atende telefone</td>
                            </tr>
                            <tr>
                                <td>15/04/2019 13:00</td>
                                <td>Cliente não atende telefone</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="projetos-button">
                        <div>
                            <button class="color-blue"><img src="images/adicionar.svg">Comentário</button>
                            <button class="color-blue"><img src="images/adicionar.svg">Foto</button>
                        </div>
                        <button class="color-green">Finalizar Serviço</button>
                    </div>
                </div>
            </div>
        </div>
    </section>