    <section class="service">
        <div class="meus-projetos">
            <div class="title-subpaginas">
                <div>
                    <img src="images/choices.svg">
                    <p class="title-blue">Projetos</p>
                </div>
                <div>
                    <select class="form-low">
                        <option class="select" select>Filtrar por status</option>
                        <option>Selecione</option>
                        <option>Primeira opção</option>
                        <option>Segunda opção</option>
                        <option>Terceira opção</option>
                        <option>Quarta opção</option>
                    </select>
                </div>
            </div>
            <div class="content-projetos">
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/parede.png""></div>
                    <div class=" status-projeto">
                        <p>Aplicação de adesivo em parede</p>
                        <div>
                            <div class="status-bullet status-execucao"></div>
                            <div>
                                <p>Status: <span>Disponível para execução</span></p>
                            </div>
                        </div>
                        <p class="data-prevista">Data prevista: <span>15/06/2019</span></p>
                    </div>
                    <a href="">Detalhes</a>
                    <a href="" class="button-executar">Executar</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/piso.png""></div>
                        <div class=" status-projeto">
                        <p>Aplicação de adesivo em piso</p>
                        <div>
                            <div class="status-bullet status-execucao"></div>
                            <div>
                                <p>Status: <span>Disponível para execução</span></p>
                            </div>
                        </div>
                        <p class="data-prevista">Data prevista: <span>15/06/2019</span></p>
                    </div>
                    <a href="">Detalhes</a>
                    <a href="" class="button-executar">Executar</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/geladeira.png""></div>
                            <div class=" status-projeto">
                        <p>Aplicação de adesivo em geladeira</p>
                        <div>
                            <div class="status-bullet status-execucao"></div>
                            <div>
                                <p>Status: <span>Disponível para execução</span></p>
                            </div>
                        </div>
                        <p class="data-prevista">Data prevista: <span>15/06/2019</span></p>
                    </div>
                    <a href="">Detalhes</a>
                    <a href="" class="button-executar">Executar</a>
                </div>
                <div class="item-projetos">
                    <div class="img-projeto"><img src="images/veiculo.png""></div>
                                <div class=" status-projeto">
                        <p>Aplicação de adesivo em veículo</p>
                        <div>
                            <div class="status-bullet status-execucao"></div>
                            <div>
                                <p>Status: <span>Disponível para execução</span></p>
                            </div>
                        </div>
                        <p class="data-prevista">Data prevista: <span>15/06/2019</span></p>
                    </div>
                    <a href="">Detalhes</a>
                    <a href="" class="button-executar">Executar</a>
                </div>

            </div>
        </div>
    </section>